<footer class="footer text-light py-4 mt-5" @FadeIn>
  <div class="container text-center">
    <p class="mb-2">&#64; Meu Portfólio. Todos os direitos reservados.</p>
    <div class="social-icons">
      <a href="https://github.com/YuriBrto" target="_blank">
        <i class="bi bi-github"></i>
      </a>
      <a href="https://linkedin.com/in/Yuri-b-a" target="_blank">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="mailto:seuemail@gmail.com">
        <i class="bi bi-envelope"></i>
      </a>
    </div>
  </div>
</footer>
