<div class="section-about container py-5 text-light" @FadeIn>
  <h2 class="title-section text-center mb-4 animate__animated animate__fadeInDown">Sobre Mim</h2>

  <p class="about-text lead text-justify animate__animated animate__fadeInUp">
    Sou <strong>Engenheiro de Software em formação</strong>, apaixonado pela constante evolução no mundo da tecnologia...
  </p>

  <p class="about-text text-justify animate__animated animate__fadeInUp animate__delay-1s">
    Com uma base sólida em <strong>lógica de programação</strong> e <strong>orientação a objetos</strong>, sou um profissional versátil e focado...
  </p>

  <p class="about-text text-justify animate__animated animate__fadeInUp animate__delay-2s">
    Tenho um portfólio de projetos em andamento e concluídos, que demonstram minha capacidade...
  </p>

  <p class="about-skills-intro mt-4 animate__animated animate__fadeIn animate__delay-3s">
    Aqui está um resumo das minhas habilidades como desenvolvedor <strong>Full-Stack</strong>:
  </p>

  <div class="row mt-5 animate__animated animate__fadeInUp animate__delay-4s">
    <div class="col-md-4 mb-4">
      <div class="card skill-card card-frontend h-100 text-dark shadow">
        <div class="card-body">
          <h4 class="skill-title text-primary">Frontend</h4>
          <ul class="skill-list list-unstyled">
            <li>Angular</li>
            <li>HTML5, CSS3, SCSS</li>
            <li>Bootstrap</li>
            <li>JavaScript/TypeScript</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card skill-card card-backend h-100 text-dark shadow">
        <div class="card-body">
          <h4 class="skill-title text-success">Backend</h4>
          <ul class="skill-list list-unstyled">
            <li>Node.js</li>
            <li>Express</li>
            <li>PostgreSQL</li>
            <li>MongoDB</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card skill-card card-others h-100 text-dark shadow">
        <div class="card-body">
          <h4 class="skill-title text-warning">Outros</h4>
          <ul class="skill-list list-unstyled">
            <li>Git/GitHub</li>
            <li>Docker</li>
            <li>CI/CD</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
